{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-topicRole">
    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">TẤT CẢ SẢN PHẨM</span>
            
        </div>
        <div class="ec-topicRole__list">
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=8">
                    <img src="{{ asset('/cosmos/html/upload/save_image/0826130521_61272f21173f6.jpg') }}">
                </a>
                <p class="ec-topicRole__listItemTitle">Tất cả</p>
            </div>
           
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=14">
                    <img src="{{ asset('/cosmos/html/upload/save_image/0824181224_6124d4181a863.jpg') }}">
                </a>
                <p class="ec-topicRole__listItemTitle">Nến thơm</p>
            </div>
            
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=23">
                    <img src="{{ asset('/cosmos/html/upload/save_image/0829142849_612b3731ef504.jpg') }}">
                </a>
                <p class="ec-topicRole__listItemTitle">Nước rửa tay</p>
            </div>
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=23">
                    <img src="{{ asset('/cosmos/html/upload/save_image/0829142849_612b3731ef504.jpg') }}">
                </a>
                <p class="ec-topicRole__listItemTitle">Nước rửa tay</p>
            </div>
            
        </div>
        
        <div class="ec-topicRole__list">
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=9">
                    <img src="{{ asset('/cosmos/html/upload/save_image/0829142000_612b3520e92b9.jpg') }}">
                </a>
                <p class="ec-topicRole__listItemTitle">Tắm nữ</p>
            </div>
           
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=15">
                    <img src="{{ asset('/cosmos/html/upload/save_image/0829151229_612b416daea6d.jpg') }}">
                </a>
                <p class="ec-topicRole__listItemTitle">Tinh dầu thơm phòng</p>
            </div>
            
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=20">
                    <img src="{{ asset('/cosmos/html/upload/save_image/0826131215_612730bfa53a3.jpg') }}">
                </a>
                <p class="ec-topicRole__listItemTitle">Xịt thơm toàn thân</p>
            </div>
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=20">
                    <img src="{{ asset('/cosmos/html/upload/save_image/0826131215_612730bfa53a3.jpg') }}">
                </a>
                <p class="ec-topicRole__listItemTitle">Xịt thơm toàn thân</p>
            </div>
            
        </div>
        
         <div class="ec-topicRole__list">
            <a class="ec-inlineBtn--top" href="{{ url('product_list') }}?category_id=24">{{ 'front.block.new_item.more'|trans }}</a>
        </div>
        
    </div>
</div>